
label {
    color: #fff;
}

.textview-label {
    padding-right: 0.5em;
}

.textview-label,
textview {
    font-size: 2em;
    padding-top: 47px;
    padding-bottom: 47px;
}

.textview-label,
textview text {
    color: #fff;
}

* {
    background-color: transparent;
    border: none;
}

#apps > button {
    min-width: 270px;

    border: none;
    transition: none;
    box-shadow: none;
}

/* default colors */
window {
    background: alpha(#000, .7);
}

#apps > button {
    background: alpha(#fff, .1);
}

#apps > button.active {
    background: alpha(#fff, .3);
}

/* pywal colors */
window.pywal {
    background: alpha(@background, .7);
}

window.pywal #apps > button {
    background: @background;
}

window.pywal #apps > button.active {
    background: @color5;
}
