window {
    background: rgba(0, 0, 0, .7);
}

label {
    color: #fff;
}

.textview-label {
    padding-right: 0.5em;
}

.textview-label,
textview {
    font-size: 2em;
    padding-top: 47px;
    padding-bottom: 47px;
}

.textview-label,
textview text {
    color: #fff;
}

* {
    background-color: transparent;
    border: none;
}

#apps > button {
    background: rgba(255, 255, 255, .1);
    min-width: 270px;
    transition: none;
}

#apps > button.active {
    background: rgba(255, 255, 255, .3);
}
